*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.lst
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store

# visual studio artifacts

Intermediate/
.vs/
*.obj
zlibstat/
zlibvc/
